---
import PageLayout from "../layouts/PageLayout.astro";
import PageMeta from "../components/PageMeta.astro";
import { SITE_TITLE } from "../config";

---

<PageLayout>
  <PageMeta title={`Blog | ${SITE_TITLE}`} slot="meta" />
  <section slot="main">
    <h1
    class="font-extrabold text-5xl md:text-6xl tracking-tight pt-4 pb-2 overflow-hidden"
  >
  <span
  class="inline-flex items-baseline pb-5 bg-gradient-to-br from-[#fb923c] via-[#f97316] to-[#ea580c] dark:from-primary-main dark:via-primary-main dark:to-primary-main bg-clip-text text-transparent"
>
    About Me
  </span>
    </h1>
    <img class="h-96 object-center pb-8" src="https://cdn.damianesteban.dev/meroger.png" alt="Damian Esteban, CTO at BetterHealthcare, with his cat Roger.">
    <p>
      <b>Damian Esteban</b>, a seasoned Solutions Architect and Software Engineer, is an ardent promoter of GraphQL and Serverless technologies. His expertise in product development, backed by over a decade of industry experience, has led to significant accomplishments in various sectors including fintech, digital healthcare, and nonprofit organizations. As the Chief Technology Officer at BetterHealthcare, a pioneering digital health startup, Damian has played a critical role in transforming patient scheduling and Electronic Medical Records (EMR) integration. 
    </p>
    <p>
      His non-professional passions also revolve around his love for his cats, Roger & Abby, and an admirable dedication to animal welfare. He is working on an open source project, <a href="https://www.pawesome-rescue.com/">Pawesome</a>, a modern web application designed to streamline operations for animal shelters and assist in finding forever homes for rescued animals. Damian also enjoys travel, comic books, tinkering with his <a href="https://linuxhandbook.com/homelab/">homelab</a>, and is a devoted Star Wars enthusiast. His robust professional background and diverse personal interests make Damian Esteban a multi-faceted individual in the tech industry.
    </p>
    
  </section>
</PageLayout>
