---
---

<section class="mb-8">
  <div class="mb-4">
    <h1
      class="font-extrabold text-5xl md:text-6xl tracking-tight pt-4 pb-2 overflow-hidden"
    >
      <span
        class="inline-flex items-baseline bg-gradient-to-br from-[#fb923c] via-[#f97316] to-[#ea580c] dark:from-primary-main dark:via-primary-main dark:to-primary-main bg-clip-text text-transparent"
      >
      <img
  src="/images/me.png"
  class="w-32 rounded-full"
  alt="Avatar image of Damian Esteban" />
        Damian Esteban
      </span>
    </h1>
    <p class="text-2xl pb-4">Software Engineer, Solution Architect, GraphQL and Serverless Evangelist, Star Wars geek.</p>
  </div>
  <div>
    <p class="mb-5">
      Welcome to 'Cloud and Code with Damian Esteban'. Here we delve into the realms of software engineering, cloud computing, and application architecture, shedding light on the building blocks that make up today's modern platforms and applications.
    </p>
    <p class="text-center whitespace-nowrap overflow-auto">
    </p>
  </div>
</section>
