---
---

<section class="mb-8">
  <div class="mb-4">
    <h1
      class="font-extrabold text-5xl md:text-6xl tracking-tight pt-4 pb-2 overflow-hidden"
    >
      <span
        class="inline-flex items-baseline bg-gradient-to-br from-[#fb923c] via-[#f97316] to-[#ea580c] dark:from-primary-main dark:via-primary-main dark:to-primary-main bg-clip-text text-transparent"
      >
      <img
  src="https://cdn.damianesteban.dev/me.webp"
  class="w-32 rounded-full"
  alt="Avatar image of Damian Esteban" />
        Damian Esteban
      </span>
    </h1>
    <p class="text-2xl pb-4">Software Engineer, Solution Architect, GraphQL and Serverless Evangelist, Star Wars geek.</p>
  </div>
  <div>
    <p class="mb-5">
      Welcome to 'Cloud and Code with Damian Esteban', your go-to hub for demystifying cutting-edge technology trends. As an industry expert, I share actionable insights on the exciting world of Serverless Architecture, GraphQL, Rust, Cloudflare Workers, and many AWS services. Stay tuned for engaging content on software engineering, cloud computing, and application design, crafted to empower both newbies and seasoned professionals in shaping the next-generation digital landscapes.
    </p>
    <p class="text-center whitespace-nowrap overflow-auto">
    </p>
  </div>
</section>
